.stats {
  background-color: transparent;
}

.top-buffer {
  margin-top: 70px;
  margin-bottom: 40px;
}

.contain {
  background-attachment: scroll;
}

#chart {
  text-align: center;
}
.weatherCard {
  margin-top: -110px;
}
