<div class="row top-buffer">
  <div class="col-md-7">
    <h1>Cairo, Egypt</h1>
    <h3>Current Weather</h3>
    <p>On 04/02/2021</p>
  </div>
  <div class="col-md-5">
    <table class="table table-striped">
      <thead>
        <h6>*SUN ICON*</h6>
      </thead>
      <tbody>
        <tr>
          <td>Temperature</td>
          <td>20C</td>
        </tr>
        <tr>
          <td>Percipitation</td>
          <td>20%</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td>20%</td>
        </tr>
        <tr>
          <td>Wind</td>
          <td>10 km/hr</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21C </span><span> 15C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21C </span><span> 15C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21C </span><span> 15C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21C </span><span> 15C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21C </span><span> 15C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21C </span><span> 15C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21C </span><span> 15C</span></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button
      class="btn btn-primary mx-auto d-block"
      (click)="onLocationRequest()"
    >
      More Details
    </button>
  </div>
</div>
