.followingDay {
  background-color: transparent;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 15%;
}

.followingDays {
  display: flex;
}

.dayTitle {
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
}

.dayMaxMin {
  text-align: center;
}

.dayMax {
  margin-bottom: 5px;
}
.top-buffer {
  margin-top: 20px;
}

.weatherDescTitle {
  font-size: medium;
}
.currentTime {
  margin-top: 50px;
}

.currentDay,
.currentTime {
  font-weight: bold;
}
.currentDay {
  margin-bottom: 40px;
}

.weatherIcon {
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.moreButton {
  background-color: #170853 !important;
  color: #ffffff;
  margin-bottom: 10px;
}

.pageTitle {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cityLink {
  cursor: pointer;
  outline: none;
  color: #ffffff;
}
.cityLink:hover,
.cityLink:visited {
  text-decoration: none;
}
.contain {
  height: fit-content;
}
@media all and (min-width: 768px) {
  .dayMaxMin {
    display: flex;
    justify-content: center;
  }
  .dayMax {
    margin-bottom: 5px;
  }
  .dayMin:before {
    content: "\00a0";
  }
  .top-buffer {
    margin-top: 100px;
  }
}
