<div class="row top-buffer">
  <div class="col-md-7">
    <h1>{{ this.city }}, {{ this.country }}</h1>
    <h3>Current Weather</h3>
    <p>On {{ this.date }}</p>
  </div>
  <div class="col-md-5">
    <app-weather-card></app-weather-card>
  </div>
</div>
<div class="row">
  <div class="col-md-1 pastDay">
    <p>Today</p>
    <p>
      <span>{{ this.highTemp }}°C </span><span> {{ this.lowTemp }}°C</span>
    </p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21°C </span><span> 15°C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21°C </span><span> 15°C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21°C </span><span> 15°C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21°C </span><span> 15°C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21°C </span><span> 15°C</span></p>
  </div>
  <div class="col-md-1 pastDay">
    <p>Yesterday</p>
    <p><span>21°C </span><span> 15°C</span></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button
      class="btn btn-primary mx-auto d-block"
      (click)="onLocationRequest()"
    >
      More Details
    </button>
  </div>
</div>
