.weatherIcon {
  width: 50px;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: transparent;
  border: none;
}
.table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #321a8f;
  border: none;
}

.table-striped > thead {
  background-color: #321a8f;
  border: none;
}

.table-striped {
  border: none;
}
.cardTitle {
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.3rem;
}

.tableValue {
  text-align: center;
}

#datePicker {
  color: #000000;
}

.goBtn {
  color: #ffffff;
  border: solid 1px #ffffff;
  background-color: transparent;
  margin-left: 5px;
  border-radius: 10%;
}
