.mainContainer {
  margin-top: -20px;
}
.mainBody {
  /* background-image: linear-gradient(to bottom, #1b0961, #4617ff); */
  /* background-color: #1b0961; */
  background-color: #53c0ff;
}

.lightMode {
  background-color: #53c0ff;
}

.darkMode {
  background-color: #1b0961;
}
